@page "/registration-success"

<div id="registration-success-page" class="container text-center">
    <div class="m-b-40">
        <h5 class="m-b-20">Deine Registrierung bei BarBuddy war erfolgreich.</h5>

        <div>Du erhältst in Kürze eine E-Mail, in der Du Deine Bar/Dein Restaurant aktivieren kannst.</div>
    </div>

    <a href="/login" class="btn btn-outline-secondary">Zum Login</a>
</div>